language: java
sudo: false

jdk:
  - oraclejdk8

install: true
script: ./travis.sh

cache:
  directories:
    - $HOME/.m2/repository
    - $HOME/.sonar

notifications:
  email: false
  webhooks:
    - secure: "KY6HIMk1mdpnulu5PyOpGL+5yS7hQUXfpGTE4eltyedJ6xER71A7igcE5A+tMphr5cvoJAdPZZt1WTduUhb7I4Y07QnUDdtBmwotiKJFYyIsK7o9kVXaOR9W2u318mv6uJwYHSne9ef//5TRGokWWoC3BZ07JccejmcSph3XlBvE2bqp81br++EjclezeiyiL7XtbUjEEnHFftUvGDPTiRXALkQlMmsPtASxUTspgm1TwIisUgFz+yXu+0JsuG0+miR/miJGYFSO8Z33Nmq66LneIiIyqy0JCXHTwMP0INzOOzibx9kYLHXyo7ca2hmnwkCxrJwtOScu5UpErxp5/vB85oHo/It5BxvZecvwC6JfIhQZ96Upxwo8Ab1jrrmNEoJoVbjWNLIwdPq9cDHmQxDM0WKLJlICFZCGEJiwwWUOgRb66rLLcapxf0vIRrmYtHrb5sv0VmflPoKGkepDorzQ9iO9twYG6SsGB3+twUe13RBGkYFmys5gYez0C1hKXLXurcKjrB1jAqCyF5RqrQr+MoSbP1rCzzB0SX99qfAzJTjd2d+XYQEEn/wkg0BH/RNh5eHhm4WToTv1EfTmVPEMeZ5mAO4A2mud7P13DOJS7WAg3ZxjgU3XpeMmZshsFbj28a1hgzPf37UyAElJMWqvyOikyR5+K/pgjB/6XQI="

addons:
  apt:
    packages:
      # upgrade java 8 as the default version 1.8.0_31 prevents from compiling sources
      # https://github.com/travis-ci/travis-ci/issues/4042
      - oracle-java8-installer
